@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header section div {
  display: flex;
  justify-content: center;
}
header section h2 {
  display: flex;
  justify-content: center;
  font-size: 7rem;
}

.navcolor {
  background-color: rgb(6, 191, 204);
}
.navcolor .boton {
  color: white;
}

.nav-link {
  color: #3a3548;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
}

.boton {
  color: white;
}

.navbar-toggler {
  border: 1px solid #f9fafb;
}

.equipo_trabajo {
  display: grid;
}

.consulta {
  display: flex;
  justify-content: center;
  background-color: rgb(6, 191, 204);
  margin-bottom: 0;
  padding: 2rem;
}

footer div {
  background-color: #3a3548;
  display: grid;
  justify-items: center;
  padding: 2rem;
}
footer h2 {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  background-color: #3a3548;
  color: white;
  padding: 2rem;
  margin-bottom: 0;
}
footer section {
  display: flex;
  justify-content: center;
  background-color: #3a3548;
  padding: 2rem;
}
footer p {
  background-color: rgb(6, 191, 204);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 0;
}

section .quienes {
  color: aqua;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
section p {
  font-size: 2rem;
  padding: 2rem;
}

.quienes_somos {
  display: grid;
  justify-items: center;
  padding: 2rem;
}
.quienes_somos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quienes_somos div h3 {
  color: aqua;
  padding-bottom: 2rem;
}
.quienes_somos p {
  padding-bottom: 3rem;
}

section h2 {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
section .tu-0km {
  color: aqua;
  padding-bottom: 5rem;
}

/*declaro la grilla grid*/
.quienes_somos .div1 {
  grid-area: div1;
}
.quienes_somos .p1 {
  grid-area: p1;
}
.quienes_somos .div2 {
  grid-area: div2;
}
.quienes_somos .p2 {
  grid-area: p2;
}
.quienes_somos .div3 {
  grid-area: div3;
}
.quienes_somos .p3 {
  grid-area: p3;
}

.quienes_somos {
  margin: 0;
  display: grid;
  grid-template-areas: "div1" "p1" "div2" "p2" "div3" "p3";
  gap: 20px;
  grid-template-columns: 1fr;
}
.quienes_somos div {
  justify-content: center;
}

/*1er mediaquery para la pagina index*/
@media (min-width: 500px) {
  .quienes_somos {
    margin: 0;
    display: grid;
    grid-template-areas: "div1 p1" "div2 p2" "div3 p3";
    gap: 20px;
    grid-template-columns: 1fr 3fr;
  }
  .quienes_somos div {
    justify-content: center;
  }
  .equipo_trabajo {
    width: 100%;
    height: 100%;
  }
}
/*declaro la 2da mediaquery*/
@media (min-width: 768px) {
  .quienes_somos {
    margin: 0;
    display: grid;
    grid-template-areas: "div1 div2 div3" "p1   p2   p3";
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
/*aca entra una animacion de capa en la que hay que apretar la imagen*/
.autos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.autos figure {
  position: relative;
  height: 250px;
  cursor: pointer;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.autos figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.autos figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.autos figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.autos figure:hover > .capa h3 {
  margin-bottom: 15px;
}

.autos figure .capa2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.autos figure:hover > .capa2 {
  opacity: 1;
  visibility: visible;
}

.autos figure:hover > .capa2 h3 {
  margin-bottom: 15px;
}

.autos figure:hover > img {
  transform: scale(1.3);
}

.autos figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}

.autos figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
}

.autos figure .capa2 h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}

.autos figure .capa2 p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
}

.tu_0 h2, .tu_0 p {
  display: flex;
  justify-content: center;
}
.tu_0 h2 {
  color: aqua;
}

/*declaro 1er mediaquery*/
@media (min-width: 500px) {
  .autos {
    display: flex;
    flex-direction: row;
  }
}
/*declaro 2da mediaquery*/
@media (min-width: 768px) {
  .autos {
    padding: 5rem;
  }
}/*# sourceMappingURL=estilos.css.map */