.acompañamiento{
    background-color: #3a3548;
}

section h2{
    background-color: #3a3548;
    padding: 10px;
}
.clientes_felices img{
    width: 300px;
    height: 200px;
    border: #3a3548 solid 5px;
    }