*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
}
header section{
    div{
    display: flex;
    justify-content: center;}
    h2{
    display: flex;
    justify-content: center;
    font-size: 7rem;
}
}
.navcolor{
    background-color: rgb(6, 191, 204);
    .boton{
        color: white;
    }
}
.nav-link{
    color: #3a3548;
    font-size: 2rem;
}
.navbar{
    display: flex;
    justify-content: center;
}
.boton{
    color: white;
}
.navbar-toggler{
    border: 1px solid #f9fafb;
}
.equipo_trabajo{
    display: grid;
}
.consulta{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 191, 204);
    margin-bottom: 0;
    padding: 2rem;
}
footer{
    div{
        background-color: #3a3548;
        display: grid;
        justify-items: center;
        padding: 2rem;
    }
    h2{
        display: flex;
        justify-content: center;
        font-size: 7rem;
        background-color: #3a3548;
        color: white;
        padding: 2rem;
        margin-bottom: 0;
    }
    section{
        display: flex;
        justify-content: center;
        background-color: #3a3548;
        padding: 2rem;
    }
    p{
        background-color: rgb(6, 191, 204);
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        padding: 2rem;
        margin-bottom: 0;
    }
}